.page {
  background-color: var(--box-shadow);
  z-index: 2;
}

#sidebar {
  background-color: var(--bg-primary);
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;

  hr {
    margin: 20px 0;
  }

  .card {
    color: var(--text-primary);
    text-decoration: none;
    padding: 15px 20px;

    p {
      margin: 0;
    }

    &:hover {
      background-color: var(--bg-highlight);
    }
  }

  #courses {
    @media (min-width: 768px) {
      display: none;
    }
  }

  #turbopro {
    animation: bg-scroll 6s linear forwards infinite;
    background-image: linear-gradient(45deg, #fda 30%, #fff, #fda 70%);
    background-position-x: 50px;
    color: #860;
    transition-duration: 0.3s;

    &:hover {
      box-shadow: #fda 0 0 10px;
    }
  }

  @keyframes bg-scroll {
    0% {
      background-position-x: 50px;
    }
    100% {
      background-position-x: 350px;
    }
  }
}