.banner {
  background-color: var(--default-banner);
  height: 220px;
  padding: 0 20px;

  .container {
    line-height: 220px;
    height: 220px;
    padding: 0;
    position: relative;

    h1 {
      font-size: 2.2rem;
      margin: 0;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }
    }
  
    .actions {
      background-color: var(--bg-secondary);
      border-radius: 2px;
      line-height: 30px;
      position: absolute;
      bottom: 15px;
      right: 0;
      height: 30px;
      width: 140px;
      padding: 0 10px;
      text-align: center;
    }
  }
}

#coursework {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  #pinboard {
    flex: 1 1;

    .card {
      flex-direction: column;
      height: 150px;
      padding: 15px;
    }
    
    h2 {
      margin: 0;
      font-size: 18px;
    }

    @media (min-width: 768px) {
      flex: none;
      margin-right: 25px;
      width: 250px;
    }
  }

  #stream {
    flex: 2 1;

    #tab-selector {
      width: 100%;
      margin-bottom: 10px;

      button {
        background: none;
        border: none;
        border-bottom: transparent 1px solid;
        color: var(--text-primary);
        font-size: 14px;
        font-family: inherit;
        padding-bottom: 3px;
        margin-right: 5px;
        transition-duration: 0.2s;

        &.active, &:hover {
          border-bottom-color: var(--text-primary);
        }
      }
    }

    .card .description {
      line-height: 25px;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}