<div>
  <app-navbar></app-navbar>
  <div class="banner">
    <div class="container">
      <h1>{{course?.name}}</h1>
      <div class="actions">
        <a href="{{course?.alternateLink}}" target="blank">View in Classroom</a>
      </div>
    </div>
  </div>
  <div id="coursework" class="container">
    <section id="upcoming" class="card">
      <h2>Upcoming Work</h2>
    </section>
    <section id="stream">
      <div class="card" *ngFor="let update of courseData[course?.id]?.announcements">
        <span class="icon"></span>
        <div class="text">
          <div class="row">
            <span>Announcement</span>
            <span>{{update.creationTime | date}}</span>
          </div>
          <div class="actions">
            <button class="action" title="Copy Text">c</button>
            <button class="action" title="Add to To Do">t</button>
            <button class="action" title="Mark Read">r</button>
          </div>
          <p class="text-secondary description text-left">{{update.text}}</p>
          <card-materials [materials]="update.materials"></card-materials>
        </div>
      </div>
    </section>
  </div>
</div>
