.banner {
  background-color: var(--default-banner);
  height: 220px;
  padding-top: 60px;

  .container {
    line-height: 220px;
    height: 220px;
    padding: 0;
    position: relative;

    h1 {
      font-size: 2.2rem;
      margin: 0;
    }
  
    .actions {
      background-color: var(--bg-secondary);
      border-radius: 2px;
      line-height: 30px;
      position: absolute;
      bottom: 15px;
      right: 0;
      height: 30px;
      width: 140px;
      padding: 0 10px;
      text-align: center;
    }
  }
}

#coursework {
  display: flex;
  justify-content: space-between;
  
  #upcoming {
    height: 200px;
    width: 250px;
    margin-right: 30px;
    padding: 15px;
    
    h2 {
      margin: 0;
      font-size: 18px;
    }
  }

  #stream {
    flex: 2 1;

    .card .description {
      line-height: 25px;
    }
  }
}