<div>
  <app-navbar></app-navbar>
  <div class="page">
    <div class="banner">
      <div class="container">
        <h1>{{course?.name}}</h1>
        <div class="actions">
          <a href="{{course?.alternateLink}}" target="blank">View in Classroom</a>
        </div>
      </div>
    </div>
    <div id="coursework" class="container">
      <section id="pinboard">
        <div class="card">
          <h2>Upcoming Work</h2>
          <br>
          <h2>Late Work</h2>
        </div>
        <div class="card">
          <h2>Shared</h2>
        </div>
      </section>
      <section id="stream">
        <div id="tab-selector">
          <button class="active">Stream</button>
          <button>Announcements</button>
          <button>Assignments</button>
          <button>Topics</button>
        </div>
        <ng-container *ngFor="let item of feed">
          <div class="card" *ngIf="item.text">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect x="68" y="68" width="120" height="40" rx="10" transform="translate(40 216) rotate(-90)"/><rect x="108" y="188" width="40" height="40" rx="10" transform="translate(-80 336) rotate(-90)"/></svg>
              <span data-notify *ngIf="!item.read"></span>
            </span>
            <div class="text">
              <div class="row">
                <span>Announcement</span>
                <span>{{item.creationTime | date}}</span>
              </div>
              <div class="actions">
                <button class="action" title="Copy Text">c</button>
                <button class="action" title="Add to To Do">t</button>
                <button class="action" title="Mark Read" (click)="markAsRead(course.id, 'announcements', item.id)">r</button>
              </div>
              <p class="text-secondary description text-left">{{item.text}}</p>
              <card-materials [materials]="item.materials"></card-materials>
            </div>
          </div>
          <div class="card" *ngIf="item.description">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M207.8,28H48.2A10.19,10.19,0,0,0,38,38.2V217.8A10.19,10.19,0,0,0,48.2,228H207.8A10.19,10.19,0,0,0,218,217.8V38.2A10.19,10.19,0,0,0,207.8,28ZM193,195.29a7.71,7.71,0,0,1-7.71,7.71H70.71A7.71,7.71,0,0,1,63,195.29V60.71A7.71,7.71,0,0,1,70.71,53H98V64.07a7.5,7.5,0,0,0,7.5,7.5h45a7.5,7.5,0,0,0,7.5-7.5V53h27.29A7.71,7.71,0,0,1,193,60.71Z"/><rect x="98.76" y="104.74" width="25" height="66.53" rx="10" transform="translate(-26.74 249.26) rotate(-90)"/><rect x="115.5" y="50.5" width="25" height="100" rx="10" transform="translate(27.5 228.5) rotate(-90)"/><rect x="106.28" y="134.72" width="25" height="81.57" rx="10" transform="translate(-56.72 294.28) rotate(-90)"/></svg>
              <span data-notify *ngIf="!item.read"></span>
            </span>
            <div class="text">
              <div class="row">
                <span>{{item.title}}</span>
              </div>
              <div class="actions">
                <button class="action" title="Dismiss for 24hr">h</button>
                <button class="action" title="Add to To Do">t</button>
                <button class="action" title="Submit">s</button>
              </div>
              <span class="title-caption">{{item.dueDate | dueDateTime: item.dueTime | date: "E L/d h:mm a"}}</span>
              <p class="text-secondary description">{{item.description}}</p>
              <card-materials [materials]=item.materials></card-materials>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</div>
