<div>
  <app-navbar></app-navbar>
  <div class="banner">
    <h1>{{course?.name}}</h1>
  </div>
  <div id="coursework">
    <section id="upcoming" class="card">
      <h2>Upcoming Work</h2>
    </section>
    <section id="stream">
      <div class="card">
        <span class="icon"></span>
        <div class="text">
          <div class="row">
            <span>Announcement</span>
          </div>
          <div class="actions">
            <button class="action" title="Copy Text">c</button>
            <button class="action" title="Add to To Do">t</button>
            <button class="action" title="Mark Read">r</button>
          </div>
          <p class="text-secondary description">update.text</p>
        </div>
      </div>
      <div class="card">
        <span class="icon"></span>
        <div class="text">
          <div class="row">
            <span>Announcement</span>
          </div>
          <div class="actions">
            <button class="action" title="Copy Text">c</button>
            <button class="action" title="Add to To Do">t</button>
            <button class="action" title="Mark Read">r</button>
          </div>
          <p class="text-secondary description">update.text</p>
        </div>
      </div>
      <div class="card">
        <span class="icon"></span>
        <div class="text">
          <div class="row">
            <span>Announcement</span>
          </div>
          <div class="actions">
            <button class="action" title="Copy Text">c</button>
            <button class="action" title="Add to To Do">t</button>
            <button class="action" title="Mark Read">r</button>
          </div>
          <p class="text-secondary description">update.text</p>
        </div>
      </div>
    </section>
  </div>
</div>
