<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turbodrive</title>
    <link rel="stylesheet" href="~/lib/shoelace/shoelace.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="navbar">
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Turbodrive</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </nav>
    </header>

    <main role="main" class="pad-b-sm pad-x-sm">
        @RenderBody()
    </main>

    <script src="~/lib/zepto/zepto.min.js"></script>
    <script src="~/lib/shoelace/shoelace.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
