/* Generic Card, Optional Actions & Icon */

.card {
  background-color: var(--bg-tertiary);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  transition-duration: 0.2s;

  display: flex;
  position: relative;

  .icon {
    background-color: var(--bg-secondary);
    border-radius: 50%;
    display: block;
    height: 35px;
    width: 35px;
  }

  .text {
    padding: 0 15px;
    flex: 1 1;
    text-align: justify;
    word-break: break-word;

    .row {
      display: flex;
      flex: 1 1;
      justify-content: space-between;
    }

    .title-caption {
      margin-top: 0;
      font-size: 0.8rem;
    }

    p {
      margin-top: 7px;
    }

    > * {
      margin: 0;
    }
  }

  .actions {
    background-color: var(--bg-contrast);
    border-radius: 2px;
    position: absolute;
    top: 5px;
    right: 20px;
    height: 30px;
    width: 60px;
    opacity: 0;
    transition-duration: 0.2s;
  }

  &:hover {
    .actions {
      width: 90px;
      opacity: 1;
    }
  }
}