/* Generic Card, Optional Actions & Icon */

.card {
  background-color: var(--bg-tertiary);
  border-radius: 5px;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  transition-duration: 0.2s;

  display: flex;
  flex-direction: row;
  position: relative;

  .icon {
    background-color: var(--bg-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 35px;
    width: 35px;
    position: relative;
    
    > svg {
      width: 20px;
      fill: var(--text-secondary);
    }

    [data-notify] {
      height: 8px;
      width: 8px;
    }
  }

  .text {
    min-width: 0;
    padding: 0 15px;
    flex: 1 1;
    
    display: flex;
    flex-direction: column;

    .title {
      margin: 0;
      font-weight: normal;
    }
    
    .title-caption {
      color: var(--text-tertiary);
      margin-top: 2px;
      margin-bottom: 0;
      font-size: 12px;
    }

    .description {
      line-height: 18px;
      font-size: 13px;
      margin-top: 6px;
      margin-bottom: 0;
      white-space: pre-wrap;
    }
  }

  .comment {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
    .input {
      background-color: var(--bg-primary);
      border: none;
      border-radius: 15px;
      color: var(--text-primary);
      font-family: inherit;
      line-height: 20px;
      height: 20px;
      min-height: 20px;
      resize: vertical;
      flex: 1 1;
      margin-right: 10px;
      padding: 5px 15px;

      &:focus {
        border: var(--text-secondary) 1px solid;
        outline: none;
      }
    }

    .submit {
      background-color: var(--bg-primary);
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      transition-duration: 0.3s;

      svg {
        fill: var(--text-secondary);
        height: 18px;
        width: 18px;
      }

      &:hover {
        background-color: var(--bg-highlight);

        svg {
          fill: var(--text-primary);
        }
      }
    }
  }

  .actions {
    background-color: var(--bg-highlight);
    border-radius: 2px;
    padding: 2px;
    position: absolute;
    top: 5px;
    right: 20px;
    height: 25px;
    opacity: 0;
    transition-duration: 0.2s;
    display: flex;
    overflow: hidden;

    .action {
      background-color: var(--bg-tertiary);
      border: none;
      border-radius: 2px;
      color: var(--text-primary);
      height: 25px;
      width: 30px;
      margin-right: 2px;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover, &:focus {
        background-color: var(--bg-secondary);
      }
    }
  }

  &:hover, &:focus-within {
    > .text > .actions {
      opacity: 1;
    }
  }

  &.compact {
    margin-bottom: 0;
    padding-bottom: 5px;

    .text {
      .description {
        white-space: initial;
      }
    }
  }
}

/* Dialog Card */

.dialog {
  background-color: var(--bg-secondary);
  box-shadow: var(--box-shadow) 0 10px 30px;
  padding: 0 20px;
  width: 300px;
  margin: auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  > * {
    flex: 1 1;
  }
}