
/* Text utilities */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-secondary {
  color: var(--text-secondary);
}

/* Display utilities */

.d-flex {
  display: flex;
  flex-direction: column-reverse;

  .flex {
    flex: 1 1;
  }

  @media (min-width: 768px) {
    flex-direction: row;
  }
}