.page {
  top: 0;
}

.auth-dialog {
  background-color: var(--bg-primary);
  box-shadow: var(--box-shadow) 0 10px 30px;
  width: 300px;
  margin: auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    flex: 1 1;
  }
}