.interaction-lock {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    background-color: var(--bg-secondary);
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
}