<nav class="navbar">
  <div>
    <button aria-label="Menu" data-tt="Menu" (click)="sidebar.toggleShow()">
      <svg class="icon"><use xlink:href="assets/icons/icons.svg#turbo-hamburger"></use></svg>
    </button>
  </div>
  <div class="classes">
    <a routerLink="/home" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" data-tt="Dashboard">
      <svg><use xlink:href="assets/icons/icons.svg#turbo-plant"></use></svg>
    </a>
    <a *ngFor="let c of courses" routerLink="/class/{{c.id}}" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" [attr.data-tt]="c.name" (click)="sidebar.hide()">
      {{c.name[0]}}
      <span data-notify *ngIf="c.hasUnread"></span>
    </a>
  </div>
  <div>
    <button aria-label="Add Class" data-tt="Add Class">
      <svg class="icon"><use xlink:href="assets/icons/icons.svg#turbo-add"></use></svg>
    </button>
    <button aria-label="Refresh Data" data-tt="Refresh" (click)="refresh()">
      <svg class="icon"><use xlink:href="assets/icons/icons.svg#turbo-refresh"></use></svg>
    </button>
  </div>
</nav>
<app-sidebar #sidebar [courses]=courses></app-sidebar>