.navbar {
  background-color: var(--bg-secondary);
  box-shadow: var(--box-shadow) 0 5px 5px;
  line-height: 60px;
  height: 60px;
  padding: 0 30px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    white-space: nowrap;
  }

  .classes {
    display: flex;
    align-items: center;

    a {
      background-color: var(--bg-tertiary);
      border-radius: 50%;
      display: block;
      color: var(--text-primary);
      line-height: 45px;
      text-align: center;
      text-decoration: none;
      height: 45px;
      width: 45px;
      margin: 0 10px;
      outline: none;
      transition-duration: 0.2s;
      position: relative;

      &:hover, &:focus, &.active {
        background-color: var(--bg-highlight);
        border-radius: 10px;
      }

      [data-notify] {
        background-color: var(--notify-color);
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 12px;
        width: 12px;
        z-index: 10;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 5px;

    .icon {
      height: 25px;
      width: 25px;
      padding: 10px;
      vertical-align: middle;
      fill: var(--text-secondary);
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  
    &:hover, &:focus {
      .icon {
        background-color: var(--bg-tertiary);
        border-radius: 50%;

        fill: var(--text-primary);
      }
    }
  }
}