<nav class="navbar">
  <div>
    <button aria-label="Menu" data-tt="Menu">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect x="108" y="28" width="40" height="200" rx="10.2" transform="translate(0 256) rotate(-90)"/><rect x="108" y="-32" width="40" height="200" rx="10.2" transform="translate(60 196) rotate(-90)"/><rect x="108" y="88" width="40" height="200" rx="10.2" transform="translate(-60 316) rotate(-90)"/></svg>
    </button>
  </div>
  <div class="classes">
    <a routerLink="/home" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" data-tt="Dashboard">
      <span data-notify></span>
    </a>
    <a *ngFor="let c of courses" routerLink="/class/{{c.id}}" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" [attr.data-tt]="c.name">
    </a>
  </div>
  <div>
    <button aria-label="Add Class" data-tt="Add Class">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect x="113" y="28" width="30" height="200" rx="10.2"/><rect x="113" y="28" width="30" height="200" rx="10.2" transform="translate(0 256) rotate(-90)"/></svg>
    </button>
    <button aria-label="Refresh Data" data-tt="Refresh">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M224.74,138.8l5.36-89.28L206,65.44A100.1,100.1,0,0,0,128,28C73.14,28,28,73.14,28,128S73.14,228,128,228a100.1,100.1,0,0,0,86.56-49.93l-26-15a70,70,0,1,1-7.79-81L155.46,98.8Z"/></svg>
    </button>
  </div>
</nav>