.class-bar {
  flex-direction: column;
  margin: 20px 0;
  max-height: 755px;

  > img {
    margin: 0 auto;
    max-height: 170px;
  }
  
  > .text {
    flex: 1 1;
    overflow-y: auto;
  }

  .card {
    margin-right: 5px;
    min-height: 45px;
  }

  @media (min-width: 768px) {
    margin: 0;
    padding-left: 25px;
    width: 300px;

    > img {
      max-height: unset;
      width: 100%;
    }
  }
}