/* You can add global styles to this file, and also import other style files */
:root {
  --bg-primary: #fff;
  --bg-secondary: #fff;
  --bg-tertiary: #eee;

  --box-shadow: #ccca;

  --text-primary: #333;
}

html, body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.container {
  padding: 0 10px;
  max-width: 900px;
  margin: auto;
}