:root {
  --bg-primary: #fff;
  --bg-secondary: #fff;
  --bg-tertiary: #f5f5f5;
  --bg-highlight: #ddd;
  --bg-contrast: #444;

  --text-primary: #111;
  --text-secondary: #444;
  --text-contrast: #fff;
    
  --link-primary: #46a;
  --link-secondary: #68c;

  --scroll-bg: #f3f3f3;
  --scroll-primary: #ddd;

  --box-shadow: #ccca;
  --default-banner: #ffcccc;
  --notify-color: #fa0;
  --notify-turned-in: #0da;
  --notify-late: #f50;
  --selection: #7df5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #181818;
    --bg-secondary: #242424;
    --bg-tertiary: #2E2E2E;
    --bg-highlight: #555;
    --bg-contrast: #fff;

    --text-primary: #fff;
    --text-secondary: #ccc;
    --text-contrast: #333;

    --link-primary: #abf;
    --link-secondary: #89d;

    --scroll-bg: #333;
    --scroll-primary: #555;
    
    --box-shadow: #000c;
    --default-banner: #6a3eb3;
    --notify-color: #fa0;
    --notify-turned-in: #0da;
    --notify-late: #f50;
    --selection: #7dfa;
  }
}

::selection {
  background-color: var(--selection);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-bg);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-primary);
  border-radius: 8px;
}

html, body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.page {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.container, .container-full {
  padding: 25px 10px;
  margin: auto;
  transition-duration: 0.3s;

  @media (min-width: 512px) {
    max-width: 512px;
  }
}

.container {
  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 1000px) {
    max-width: 900px;
  }

  @media (min-width: 1150px) {
    max-width: 1000px;
  }
}

.container-full {
  @media (min-width: 768px) {
    max-width: 900px;

    @media (min-height: 512px) {
      padding: 35px 10px;
    }

    @media (min-height: 768px) {
      padding: 55px 10px;
    }
  }

  @media (min-width: 1150px) {
    max-width: 1900px;
  }
}

a {
  color: var(--link-primary);
  transition-duration: 0.1s;

  &:hover {
    color: var(--link-secondary);
  }
}

@import 'sass/card';
@import 'sass/tooltip';

@import 'sass/utilities';
