/* You can add global styles to this file, and also import other style files */
:root {
  --bg-primary: #fff;
  --bg-secondary: #fff;
  --bg-tertiary: #eee;

  --text-primary: #333;
  --text-secondary: #777;

  --box-shadow: #ccca;
  --selection: #7df5;
}

::selection {
  background-color: var(--selection);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-tertiary);
  border-radius: 8px;
}

html, body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

.page {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.container {
  padding: 30px 10px;
  max-width: 850px;
  margin: auto;
}

.d-flex {
  display: flex;

  .flex {
    flex: 1 1;
  }
}

.card {
  background-color: var(--bg-tertiary);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;

  display: flex;
  position: relative;

  .icon {
    background-color: var(--bg-secondary);
    border-radius: 50%;
    display: block;
    height: 45px;
    width: 45px;
  }

  .text {
    padding-left: 20px;
    flex: 1 1;

    .row {
      display: flex;
      flex: 1 1;
      justify-content: space-between;
    }

    > * {
      margin: 0;
    }
  }

  .actions {
    background-color: #afa;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    transition-duration: 0.3s;
  }

  &:hover {
    .actions {
      width: 90px;
    }
  }
}