<div>
  <app-navbar></app-navbar>
  <section class="page">
    <div class="container d-flex">
      <div id="assignments" class="flex">
        <p class="title-sm">P1-Chinese 4H</p>
        <div class="card">
          <span class="icon"></span>
          <div class="text">
            <div class="row">
              <span>Assignment Title</span>
              <span>11:59PM</span>
            </div>
          </div>
          <div class="actions">
          </div>
        </div>
        <div class="card">
          <span class="icon"></span>
          <div class="text">
            <div class="row">
              <span>Assignment Title</span>
              <span>11:59PM</span>
            </div>
          </div>
        </div>
        <div class="card">
          <span class="icon"></span>
          <div class="text">
            <div class="row">
              <span>Assignment Title</span>
              <span>11:59PM</span>
            </div>
          </div>
        </div>
        <br>
        <p class="title-sm">2019-2020 World Lit</p>
        <div class="card">
          <span class="icon"></span>
          <div class="text">
            <div class="row">
              <span>Assignment Title</span>
              <span>11:59PM</span>
            </div>
          </div>
        </div>
        <br>
        <p class="title-sm">P5 Chem H</p>
        <div class="card">
          <span class="icon"></span>
          <div class="text">
            <div class="row">
              <span>Assignment Title</span>
              <span>11:59PM</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar d-flex">
        <img src="../../assets/img/Banner1.png" alt="Plant">
        <div class="text">
          <div class="card">
            <span class="icon"></span>
            <div class="text">
              <b>P1-Chinese 4H</b>
              <p>Teacher Name</p>
            </div>
          </div>
          <div class="card">
            <span class="icon"></span>
            <div class="text">
              <b>2019-2020 World Lit</b>
              <p>Teacher Name</p>
            </div>
          </div>
          <div class="card">
            <span class="icon"></span>
            <div class="text">
              <b>P5 Chem H</b>
              <p>Teacher Name</p>
            </div>
          </div>
          <div class="card">
            
          </div>
          <div class="card">
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>