:host {
}

.sidebar {
  flex-direction: column;
  width: 300px;

  img {
    width: 100%;
  }
  
  .text {
    max-height: 400px;
    overflow-y: auto;
  }

  .card {
    margin-right: 5px;
    min-height: 50px;
  }
}

#assignments {
  padding: 0 25px;
}

.title-sm {
  background-image: linear-gradient(to right, #789, #abc);
  border-radius: 5px;
  color: var(--text-contrast);
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 10px;
}