.container {
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.sidebar {
  flex-direction: column;
  margin: 20px 0;
  max-height: 750px;

  > img {
    margin: 0 auto;
    max-height: 170px;
  }
  
  > .text {
    flex: 1 1;
    overflow-y: auto;
  }

  .card {
    margin-right: 5px;
    min-height: 45px;
  }

  @media (min-width: 768px) {
    margin: 0;
    padding-left: 25px;
    width: 300px;

    > img {
      max-height: unset;
      width: 100%;
    }
  }
}

#assignments {
  flex: 1 1;

  .assignment-group {
    background-color: var(--bg-tertiary);
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .title-sm {
      background-image: linear-gradient(to right, #679, #9ac);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #fff;
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
      margin-bottom: 5px;
      padding: 15px 10px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .scroll-group {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden auto;
  
      > .card {
        border-left: var(--bg-tertiary) 5px solid;
        border-radius: 0;
        margin: 0;
        font-size: 15px;
  
        &:hover {
          border-left: var(--notify-color) 5px solid;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 0 20px;
  }
  
  @media (min-width: 1150px) {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .assignment-group {
      margin-right: 10px;
      max-width: calc(50% - 10px);

      .scroll-group {
        height: 300px;
      }

      @media (min-width: 1500px) {
        .title-sm {
          font-size: 1.2rem;
          padding: 20px;
        }

        max-width: calc(33% - 10px);
      }

      @media (min-width: 1800px) {
        max-width: calc(25% - 10px);
      }
    }
  }
}

@media (min-width: 1500px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}