<div>
  <app-navbar></app-navbar>
  <section class="page">
    <div class="container-full d-flex lockable">
      <home-class-bar [courses]=courses></home-class-bar>
      <div id="assignments">
        <section class="assignment-group" *ngFor="let course of courses">
          <a routerLink="/class/{{course.id}}" class="title-sm">{{course.name}}</a>
          <div class="scroll-group">
            <span class="icon-finished" *ngIf="courseData[course.id]?.announcements?.length === 0 && courseData[course.id]?.assignments?.length === 0">
              <svg><use xlink:href="assets/icons/icons.svg#turbo-check"></use></svg>
              <p>Whew! Finished.</p>
            </span>
            <ng-container *ngFor="let update of courseData[course.id]?.announcements?.slice(0, 2)">
              <card-announcement *ngIf="!update.read" [announcement]=update [compact]=true
              (markRead)="markAsRead(course.id, 'announcements', $event)"></card-announcement>
            </ng-container>
            <div class="card" *ngIf="courseData[course.id]?.announcements?.length > 2">
              <div class="text">
                <div class="row">
                  <span>More Unread Announcements</span>
                </div>
                <div class="actions">
                  <button class="action" title="Mark All as Read" (click)="markAllRead(course.id, 'announcements', 2)">r</button>
                </div>
                <p class="text-secondary description text-left">There are more unread announcements.</p>
              </div>
            </div>
            <ng-container *ngFor="let work of courseData[course.id]?.assignments?.slice(0, 3)">
              <card-assignment *ngIf="!work.read" [assignment]=work [compact]=true
              (markRead)="markAsRead(course.id, 'assignments', $event)"></card-assignment>
            </ng-container>
            <div class="card" *ngIf="courseData[course.id]?.assignments?.length > 3">
              <div class="text">
                <div class="row">
                  <span>More Incomplete Assignments</span>
                </div>
                <p class="text-secondary description text-left">There are more incomplete assignments.</p>
              </div>
            </div>
            <br>
          </div>
        </section>
      </div>
      <interaction-lock></interaction-lock>
    </div>
  </section>
</div>